html, body {
    height: 100%;
    margin: 0;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
}

h1 {
    text-align: center;
    font-size: 10vw;
    margin: 0;
    font-weight: 100;
    text-shadow: 3vw 3vw 3vw #230039;
}

#head {
    padding: 30vh 0;
    background-image: linear-gradient(to bottom right, #460078, #775cba);
    color: white;
}

.container {
    padding: 0 10vw;
}

button {
    border-style: none none solid none;
    border-width: 3px;
    border-color: #460078;
    background-color: #775cba;
    font-size: xx-large;
    color: white;
    transition: .3s;
}

button:hover {
    opacity: .7;
}

#footer {
    background-color: #eee;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

pre {
    border: solid 3px #ac9bd6;
}

.code-string {
    color: brown;
}

h2 {
    font-weight: normal;
    font-size: xx-large;
}

.flex {
    display: flex;
}

.contents {
    margin-right: 100px;
}

@media screen and (max-width:700px) {
    .flex {
        flex-direction: column;
    }
}