html, body {
    height: 100%;
    margin: 0;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
}

h1 {
    text-align: center;
    font-size: 10vw;
    margin: 0;
    font-weight: 100;
    text-shadow: 3vw 3vw 3vw #230039;
}

#head {
    padding: 30vh 0;
    background-image: linear-gradient(to bottom right, #460078, #775cba);
    color: white;
}

.container {
    padding: 0 10vw;
}

button {
    border: none;
    border-radius: 1vw;
    background-color: #ddd4f5;
    color: #460078;
    font-size: x-large;
    transition: .3s;
    padding: 2vw;
    cursor: pointer;
}

button:hover {
    background-color: #ac9bd6;
}

#footer {
    background-color: #eee;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

pre {
    border: solid 3px #ac9bd6;
    font-size: larger;
}

.code-string {
    color: brown;
}

.code-comment, .code-number {
    color: green;
}

h2 {
    font-weight: normal;
    font-size: xx-large;
}

.flex {
    display: flex;
}

.contents {
    margin-right: 100px;
}

@media screen and (max-width:700px) {
    .flex {
        flex-direction: column;
    }
}

a {
    color: #460078;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}